/* Estilos generales */
body {
    background-image: url("../img/impacto.gif");
    background-size: cover;
    margin: 0;
    padding: 0;
}

.pie {
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
}

.reiniciar-btn {
    color: white;
    text-decoration: none;
    padding: 15px 30px; /* Ajusta el tamaño del botón para pantallas más pequeñas */
    font-size: 16px; /* Ajusta el tamaño del texto del botón para pantallas más pequeñas */
    background-color: #ff0000;
    border-radius: 20px; /* Ajusta el radio para hacer esquinas redondeadas */
    cursor: pointer;
    display: inline-block;
}

/* Estilos específicos para pantallas más pequeñas */
@media only screen and (max-width: 768px) {
    .reiniciar-btn {
        padding: 10px 20px; /* Ajusta el tamaño del botón para pantallas más pequeñas */
        font-size: 14px; /* Ajusta el tamaño del texto del botón para pantallas más pequeñas */
    }
}
